.layout {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 0;
  padding: 0;
}

.headerContainer {
  width: 100%;
}

.menu {
  flex: 1;
  min-width: 0;
  display: flex;
  justify-content: flex-end;
  border: none !important;
}

.content {
  background-color: white;
  padding: 20px 50px;
}

.search-bar {
  width: 200px;
}

.carousel-content {
  margin: 0;
  height: 400px;
  color: #fff;
  line-height: 160px;
  background: #364d79;
}
